
body {
    font-family:"Microsoft YaHei",sans-serif;
    margin-right: 0px;
    margin-left: 0px;
}

.icon {
    width: 5rem;
    height: 5rem;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
/* animations */
.sideslip-enter-active,
.sideslip-leave-active {
  transition: all 0.7s cubic-bezier(.43,.15,.59,1.19);
}
.sideslip-enter-from,
.sideslip-leave-to {
  transform: translateX(500px);
  opacity: 0;
}

.topslip-enter-active,
.topslip-leave-active {
  transition: all 0.7s cubic-bezier(.43,.15,.59,1.19);
}
.topslip-enter-from,
.topslip-leave-to {
  transform: translateY(-150px);
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease-in-out;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}


.screenLock{
  position: fixed;
  display: flex;
  top: 0px; 
  left: 0px;
  background: #000;
  width: 100%;
  height: 100%;
  z-index: 9991;
  opacity: 0.4;
  justify-content: center;
  align-items: center;
}


/* Utility class for centering start */
:root {
  --sk-size: 70px; /* サイズ - 可変 */
  --sk-color: rgb(255, 255, 255); /* ベースの色 - 可変 */
}
.sk-center { margin: auto; }

.sk-wander {
  width: var(--sk-size);
  height: var(--sk-size);
  position: relative; 
}

.sk-wander-cube {
  background-color: var(--sk-color);
  width: 20%;
  height: 20%;
  position: absolute;
  top: 0;
  left: 0;
  --sk-wander-distance: calc(var(--sk-size) * 0.75);
  animation: sk-wander 2.0s ease-in-out -2.0s infinite both;
}
.sk-wander-cube:nth-child(2) { animation-delay: -0.5s; }
.sk-wander-cube:nth-child(3) { animation-delay: -1.0s; }

@keyframes sk-wander {
  0% {
    transform: rotate(0deg); 
  } 25% {
    transform: translateX(var(--sk-wander-distance)) rotate(-90deg) scale(0.6); 
  } 50% { /* Make FF rotate in the right direction */
    transform: translateX(var(--sk-wander-distance)) translateY(var(--sk-wander-distance)) rotate(-179deg); 
  } 50.1% {
    transform: translateX(var(--sk-wander-distance)) translateY(var(--sk-wander-distance)) rotate(-180deg); 
  } 75% {
    transform: translateX(0) translateY(var(--sk-wander-distance)) rotate(-270deg) scale(0.6);
  } 100% {
    transform: rotate(-360deg); 
  }
}
/* Utility class for centering end */